.status {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.filter {
  opacity: 50%;
  height: 100%;
  flex: 1 1 100%;
}
.status-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.allert {
  height: 20vh;
  width: 30vw;
}
