.status {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: black;
  opacity: 50%;
}
.allert {
  height: 20vh;
  width: 30vw;
}
.status-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
