.loader {
  height: 1rem;
  width: 100%;
  border-radius: 5px;
  background-color: black;
  animation: loading 1s ease-in infinite;
}
@keyframes loading {
  0% {
    background-color: black;
  }
  20% {
    background-color: magenta;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: red;
  }
}
.loader-container {
  min-width: 200px;
}
