<div class="page">
  <div class="component">
    <h1 class="text-center">PURCHASED MEDICINES</h1>
  </div>
  <div class="component">
    <filter-transactions (onFilter)="filter($event)"></filter-transactions>
  </div>
  <div class="component">
    <ul>
      @for (item of displayed_data(); track $index) {
      <li class="flex">
        <div class="flex-5">
          <prop-card [title]="'SN'" [content]="$index + 1"></prop-card>
        </div>

        <div class="flex-30">
          <prop-card [title]="'product'" [content]="item.product"></prop-card>
        </div>
        <div class="flex-15">
          <prop-card [title]="'category'" [content]="item.category"></prop-card>
        </div>
        <div class="flex-10">
          <prop-card [title]="'unit'" [content]="item.unit"></prop-card>
        </div>
        <div class="flex-10">
          <prop-card
            [title]="'quantity'"
            [content]="item.quantity / item.unit_value"
          ></prop-card>
        </div>
        <!-- <div class="flex-10">
          <prop-card
            [money]="true"
            [symbol]="'tzs'"
            [title]="'amount'"
            [content]="item.amount"
          ></prop-card>
        </div> -->
      </li>

      }
    </ul>
  </div>
  <initializing
    [message]="initializing.message"
    [loading]="initializing.loading"
  ></initializing>
</div>
