.control {
  margin: 5px;
  padding: 5px;
}
// .control:hover {
//   border-left: 2px solid blue;
// }
form {
  margin: 5px;
}
.form-heading {
  background-color: black;
  color: white;
}
.login-form {
  width: 40%;
  border: 1px solid lightgrey;
}
