input,
select {
  padding: 5px;
  height: 2rem;
  border-radius: 10px;
  min-width: 8rem;
  margin-top: 5px;
}
input[type="number"] {
  text-align: center;
}
input[type="checkbox"] {
  min-width: auto;
  height: auto;
  display: inline-block;
  margin-top: 0px;
  margin-right: 5px;
}

.input-primary {
  border: 1px solid blue;
  display: block;
  margin: 3px;
}
.input-secondary {
  border: 1px solid pink;
  display: block;
}
