* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.app-container {
  height: 100%;
  overflow-y: scroll;
  position: relative;
  background-color: gray;
}
.app-container::-webkit-scrollbar {
  display: none;
}
.container {
  background-color: lightgrey;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.container::-webkit-scrollbar {
  display: none;
}
.page {
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
  position: relative;
}

.page::-webkit-scrollbar {
  display: none;
}
.page-heading {
  position: sticky;
  top: 0;
}
.full {
  display: block;
  width: 100%;
}
.component {
  background-color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-self-end {
  align-self: flex-end;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-5 {
  flex: 0 1 5%;
}
.flex-10 {
  flex: 0 1 10%;
}

.flex-15 {
  flex: 0 1 15%;
}
.flex-20 {
  flex: 0 1 20%;
}
.flex-30 {
  flex: 0 1 30%;
}
// visibility
.invisible {
  opacity: 0;
}
.text-center {
  text-align: center;
}
.important {
  border-radius: 10px;
  border: 0;
  padding: 5px;
  background-color: black;
  color: white;
  margin: 0 5px;
}
.notification {
  background-color: rgb(95, 77, 83);
  color: white;
}
// margins
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
