a {
  text-decoration: none;
  color: inherit;
  padding: 5px;
  min-width: 10rem;
  border-radius: 10px;
  border: 0;
  background-color: rgb(180, 180, 184);
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
a:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
li a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.selected-link {
  background-color: blue;
}
.link-block {
  display: block;
  width: 100%;
}
.active-link {
  background-color: blue;
  color: white;
}
