<ul>
  @for (item of items; track $index) {
  <li class="flex flex-center">
    <div class="flex-5">
      <prop-card [title]="'SN'" [content]="parseString($index + 1)"></prop-card>
    </div>
    <div class="flex-15">
      <prop-card [title]="'product'" [content]="productName(item)"></prop-card>
    </div>
    <div class="flex-5">
      <prop-card [title]="'unit'" [content]="item.unit"></prop-card>
    </div>
    <div class="flex-10">
      <prop-card
        [title]="'quantity'"
        [content]="parseString(item.quantity)"
      ></prop-card>
    </div>

    <div class="flex-5">
      <cancel-button (click)="remove(item)"></cancel-button>
    </div>
  </li>

  }
</ul>
