<div class="page">
  <div class="container menu">
    <div class="links">
      <dropdown-links
        [title]="'logs'"
        [links]="[{ name: 'logs', url: '/admin/logs' }]"
      ></dropdown-links>
      <dropdown-links
        [title]="'create'"
        [links]="createLinks"
        [open]="true"
      ></dropdown-links>
      <dropdown-links [title]="'app links'" [links]="appLinks"></dropdown-links>
    </div>
  </div>
  <main class="container main-content">
    <!-- main content -->
    <router-outlet></router-outlet>
  </main>
</div>
