<form [formGroup]="filterForm" class="component flex" (ngSubmit)="filter()">
  <input
    class="input-primary"
    type="text"
    name="supplier"
    id="supplier"
    placeholder="e.g supplier name"
    formControlName="supplier"
    (keyup)="filter()"
  />
  <input
    class="input-primary"
    type="text"
    name="destination"
    id="destination"
    placeholder="e.g destination"
    formControlName="destination"
    (keyup)="filter()"
  />
  <input
    class="input-primary"
    type="date"
    id="date"
    name="date"
    formControlName="date"
    (change)="filter()"
  />

  <button class="btn-primary--round" type="submit">
    <fa-icon [icon]="filterIcon"></fa-icon>
  </button>

  <button
    class="btn-secondary--round reset"
    type="reset"
    (click)="clearFilter()"
  >
    <fa-icon [icon]="resetIcon"></fa-icon>
  </button>
</form>
