<div class="page flex flex-center">
  <form
    class="login-form component flex flex-center"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >
    <div class="form-container">
      <div class="control">
        <label for="email">email</label>
        <input
          class="input-primary"
          type="text"
          name="email"
          id="email"
          formControlName="email"
        />
      </div>
      <div class="control">
        <label for="password">password</label>
        <input
          class="input-primary"
          type="password"
          name="password"
          id="password"
          formControlName="password"
        />
      </div>
      <div class="control">
        <button class="btn-primary">LOGIN</button>
      </div>
    </div>
  </form>
</div>
