.tomasha {
  height: 100vh;
}
header {
  height: 10%;
  border-bottom: 1px solid black;
  padding: 10px;
}
.tomasha-main {
  height: 87%;
  overflow-y: scroll;
}
.tomasha-main::-webkit-scrollbar {
  display: none;
}
footer {
  height: 3px;
  border-top: 1px solid black;
}
.logo {
  font-weight: 800;
}
