<div class="page">
  <div class="component flex">
    <h1 class="text-center">MANAGE INVENTORIES</h1>
  </div>
  @if (view=='all') {
  <form
    class="component flex"
    [formGroup]="store_form"
    (ngSubmit)="getInventory()"
  >
    <select name="store" id="store" formControlName="store">
      <option value="">select store</option>
      @for (item of stores; track $index) {
      <option [value]="item.name">{{ item.name }}</option>
      }
    </select>
    <button class="btn-primary--round">
      <fa-icon [icon]="searchIcon"></fa-icon>
    </button>
  </form>
  <div class="component">
    <table>
      <thead>
        <tr>
          <th>sn</th>
          <th>product</th>
          <th>category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (item of inventories; track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ getProductName(item) }}</td>
          <td>{{ getProductCategory(item) }}</td>
          <td>
            <button class="btn-danger--round" (click)="openEdit(item)">
              <fa-icon [icon]="editIcon"></fa-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @if(view=='edit' && inventory!=undefined||inventory!=null){
  <div class="component flex">
    <button class="btn-neutral mr-auto" (click)="back()">back</button>
  </div>
  <div class="component">
    <p class="text-center">product: {{ getProductName(inventory) }}</p>
    <p class="text-center">quantity(E/A): {{ inventory.quantity }}</p>
    <table class="">
      <thead>
        <tr>
          <th>unit</th>
          <th>price</th>
        </tr>
      </thead>
      <tbody>
        @for (item of inventory.prices; track $index) {
        <tr>
          <td>{{ item.unit }}</td>
          <td>
            <input
              class="input-primary"
              type="number"
              [value]="item.value"
              (keyup)="changePrice($event, item)"
            />
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="component flex flex-center">
    <button class="btn-primary" (click)="save()">SAVE</button>
  </div>
  <div class="component">
    <h2 class="text-center">add beginning inventory</h2>
    <form [formGroup]="quantity_form" class="flex flex-center">
      <div class="control">
        <input
          type="number"
          name="quantity"
          id="quantity"
          formControlName="quantity"
        />
      </div>
      <div class="control">
        <button class="btn-primary" (click)="saveInventoryQuantity()">
          ADD
        </button>
      </div>
    </form>
  </div>
  }
</div>
