<div class="page">
  <div class="component">
    <h1 class="text-center">CREATE SUPPLIERS</h1>
  </div>
  <form
    class="component flex flex-center"
    [formGroup]="supplier_form"
    (ngSubmit)="createSupplier()"
  >
    <div class="control">
      <label for="supplier">supplier</label>
      <input
        class="input-primary"
        type="text"
        name="supplier"
        id="supplier"
        autocomplete="off"
        formControlName="supplier"
      />
    </div>
    <button
      type="submit"
      class="btn-primary--round"
      [disabled]="supplier_form.invalid"
    >
      <fa-icon [icon]="plusIcon"></fa-icon>
    </button>
  </form>
  @if(suppliers.length>0){
  <div class="component flex flex-center">
    <table>
      <thead>
        <tr>
          <th>sn</th>
          <th>supplier</th>
          <th>id</th>
        </tr>
      </thead>
      <tbody>
        @for (item of suppliers; track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item._id }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
  <request-allert
    [loading]="allert.loading"
    [status]="allert.status"
    [message]="allert.message"
    (onSubmit)="handleAllert($event)"
  ></request-allert>
</div>
